body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Carousal {
  max-width: 100%; /* Ensures carousel is responsive */
  max-height: 600px; /* Set the maximum height for the entire carousel */
  overflow: hidden;
}

.Carousal .carousel-item img {
  height: 600px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensures the images cover the area without distortion */
}
.caption-text {
  color: white; /* White text for visibility */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add a subtle shadow to the text */
  font-weight: bold; /* Make the text bold */
  font-size: 6vw; /* Responsive font size based on viewport width */
  padding: 10px 20px; /* Optional: Add a bit of padding to the text */
  display: inline-block; /* Ensure the text doesn't extend to a full-width strip */
  white-space: nowrap; /* Prevent text from breaking in the middle of words */
  overflow: hidden; /* Hide overflow to prevent text from going out of bounds */
  text-overflow: ellipsis; /* Add ellipsis if the text overflows */
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .caption-text {
    font-size: 8vw; /* Increase the font size for smaller screens */
  }
}

/* Adjust font size for very small screens */
@media (max-width: 480px) {
  .caption-text {
    font-size: 10vw; /* Further increase the font size for very small screens */
    white-space: normal; /* Allow text to wrap on very small screens */
  }
}

.caption-ptext{
  color: white;
  font-weight: bold;
  font-size:xx-large;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
 .bgprimary{
  color:#021f2b;
  background-color: #135370; 
} 
.reviews{
  background-color: #092953;
}
.commentbox {
  position: relative;
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.commentbox::before {
  content: '';
  position: absolute;
  bottom: -20px; /* Adjust based on your design */
  left: 20px; /* Adjust based on your design */
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #fff transparent transparent transparent; /* Triangle color */
}
